<div class="badge">
  <tr>
    <td class="align-middle">
      <%= content_tag :span, badge.title, class: 'test-title', data: { badge_id: badge.id } %>
    </td>
    <td>
      <%= image_tag(badge.image_url, size: "80x80") %>
     </td>
    <td class="align-middle">
      <%= badge.rule %>
    </td>
    <td class="align-middle">
      <%= badge.value %>
    </td>
  </tr>
</div> 