@import "bootstrap";
@import "typography/icons";
@import "global";

 .header {
    text-align: right;
}

.success {
    color: green;
}
.failed {
    color: red;
}

.progress-bar-container {
  border-radius: 5px;
  border: 1px solid #007bff;
  width: 500px;
  height: 30px;
  position: relative;
}

.progress-bar {
  position: absolute;
  top: -1px;
  border-radius: 5px;
  background-color: #007bff;
  height: 30px;

  &_percent {
    line-height: 30px;
    margin: 0;
  }
}